<nav class="navbar"> 

  <span class="or-title cat-title">Categories</span>

  </nav> 
<main class="container">

<div class="main-cat" >
<p>Welcome <%= current_user.name %></p>
 <%= link_to "Sign Out",  destroy_user_session_path,method: :delete ,class:"out-btn"%> 
</div>



<div class="cat-list" >
    <ul class="list">
    <% @categories.includes(:expenses).each do |category| %>
    <li>
      <span><%= render 'icon_group', category: category %></span>
      </li>
      <li>
      <p>
      <%= link_to category.name, category_path(category.id) %></p>
      </li>
      <li>
      <span>Total: </span>
      </li>
    <% end %>
  </div>
  <div class="add-cat-index">
   <%= link_to "Add Category", new_category_path, class:"cat-btn" %>
   </div>
<div>
<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: "#{name}" %>
</div>
</ul>
<% end %>
</main>