<nav class="navbar"> 

  <span class="or-title cat-title"><%= @category.name%></span>

  </nav> 


<br>
<br>
<br>



<div class="wrapper">
<% @category.expenses.order(created_at: :desc).each do |ex| %>
  <div class="box-a"><%= ex.name%></div>
  <div class="box-b">$<%= ex.amount%></div>
  <div class="box-c"><%= ex.created_at.strftime("%d %B, %Y") %></div>
  <% end %>
</div>

<br>
<br>


<div class="add-cat-index">
<%= link_to "Add Expense", new_category_expense_path(@category.id),class:"cat-btn" %>
</div>
<%=link_to "Go Back " , categories_path, class:"back-link"%>