<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: "#{name}" %>
<% end -%>
<h1> Add Expense</h1>
<%= form_with model: @expense, url: new_category_expense_path do |f| %>

    <div class="form-group">
      <div class="field">
      <%= f.text_field :name, placeholder: "Expense name"%>
    </div>

      <div class="field">
          <%= f.label "Amount" %>
          <%= f.number_field :amount, placeholder: "Enter Amount"%>
        </div>

</div>

    <%= f.submit "Save"%>



<% end %>
