<!DOCTYPE html>
<html>
  <head>
    <title>BudgetApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
        <meta name="description" content="Expense tracker" />
<meta name="title" property="og:title" content="expense trcker" />
<meta property="og:type" content="website" />
<meta name="image" property="og:image" content="https://live.staticflickr.com/65535/52194613098_151b0e88fa_b.jpg" />
<meta name="description" property="og:description" content="expense tracker" /><meta name="author" content="sj1978" />

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
 

    <%= yield %>
  </body>
</html>
